@include media-breakpoint-only(xs) {
	.d-only-xs-none {
		display: none !important;
	}
}

@include media-breakpoint-only(sm) {
	.d-only-sm-none {
		display: none !important;
	}
}

@include media-breakpoint-only(md) {
	.d-only-md-none {
		display: none !important;
	}
}

@include media-breakpoint-only(lg) {
	.d-only-lg-none {
		display: none !important;
	}
}

@include media-breakpoint-only(xl) {
	.d-only-xl-none {
		display: none !important;
	}
}

@mixin btn {
    display: inline-block;
    padding: 0.9rem 1.1rem;
    color: #fff;
    text-decoration: none;
    font-family: map-get($fonts, 'header');
    background: map-get($colors, 'default');
    border: none;
    font-weight: 700;
    transition: 0.15s ease;
    font-size: 0.8rem;
    text-transform: uppercase;
    line-height: 1;
    border-radius: map-get($settings, 'border-radius');
    cursor: pointer;

    @include media-breakpoint-up(md) {
        font-size: 0.9rem;
    }

    &:hover,
    &:active,
    &:focus {
        transition: 0.15s ease;
        color: #fff;
        text-decoration: none;
        background-position: right top;
    }
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}