$color__default: #6aa182;
$color__secondary: #e07c4a;
$color__light-orange: #fff8e9;
$color__light-green: #f6ffe9;
$color__medium-green: #cfdcbc;
$color__black: #231f20;
$color__dark-gray: #464749;
$color__medium-gray: #808184;
$color__light-gray: #c9c9c9;
$color__body-text: #454545;
$color__alert: rgba(243, 24, 24, 0.767);

$font__header: 'Alegreya', serif;
$font__body: 'Open Sans', sans-serif;

$setting__border-radius: 2px;

/*

font-family: 'Satisfy', cursive;
font-family: 'Yesteryear', cursive;

*/