$headings-font-family: 'Merriweather', serif;
$headings-font-weight:  700;
$headings-line-height:  1.4em !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1260px
);

$colors: (
    "default":    #0095FF,
    "secondary":  #62BDFF,
    "black":      #231F20,
	"light-gray": #F9F9F9,
	"medium-gray": #a9a9a9,
	"success": #43cc66,
	"error": #ff4d4d,
	"warning": #57a2ff,
	"text": #434343
);

$fonts: (
	"heading": "'Merriweather', serif",
	"body": "'Source Sans Pro', sans-serif"
);

$settings: (
	"border-radius": 2px,
	"narrow-width": 740px
);

$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
);

$columns__margin: 3.8%;

$font__heading: 'Merriweather', serif;
$font__body: 'Source Sans Pro', sans-serif;