// -------------------------
// # Custom Config
// -------------------------

@import 'partials/variables';



// -------------------------
// # Import Bootstrap
// -------------------------

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/utilities";



// -------------------------
// # Import Partials
// -------------------------

@import 'partials/helpers';
@import 'components/content/captions';
@import 'https://fonts.googleapis.com/css?family=Merriweather%3A400%2C700%7CSource+Sans+Pro%3A300%2C400%2C700&#038;subset=latin%2Clatin-ext';


#tinymce {
    padding: 30px !important;
    font-family: map-get($fonts, 'body');   
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.7;

    p,
    ul,
    ol {
        line-height: 1.7;
    }

    > * {
        margin-top: 0;
        margin-bottom: 0;
    }

    > * + * {
        margin-top: 2rem !important;
        margin-bottom: 0 !important;
    }

    a:not(button):not(.author-box__url):not([class*="button"]):not([class*="btn"]) {
        font-weight: 400;

        &:hover,
        &:focus,
        &:active {
            text-decoration-line: underline;
            text-decoration-style: solid;
        }
    }

    h1 + *,
    h2 + *,
    h3 + *,
    h4 + *,
    h5 + *,
    h6 + * {
        margin-top: 1.2rem !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: block;
        font-weight: 700;
        line-height: 1.4;
        color: map-get($colors, 'black');
    }

    h1,
    h2 {
        font-size: 1.3rem;

        @include media-breakpoint-up(md) {
            font-size: 1.6rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.8rem;
        }
    }

    h3 {
        font-size: 1.3rem;

        @include media-breakpoint-up(md) {
            font-size: 1.5rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.8rem;
        }
    }

    h4 {
        font-size: 1.2rem;

        @include media-breakpoint-up(md) {
            font-size: 1.4rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.6rem;
        }
    }

    h5 {
        font-size: 1rem;

        @include media-breakpoint-up(md) {
            font-size: 1.2rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.4rem;
        }
    }

    h6 {
        font-size: 0.8rem;

        @include media-breakpoint-up(md) {
            font-size: 1rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.2rem;
        }
    }

    p.empty {
        padding: 0;
        margin: 0;
        line-height: 0;
    }

    a[href*="http://"],
    a[href*="https://"],
    a[href*="www"] {
        word-wrap: break-word;
    }
    
    blockquote {
        padding: 0 2rem;
        color: map-get($colors, 'black');
        font-family: map-get($fonts, 'body');
        border-left: 5px solid map-get($colors, 'black');
        font-size: 1.1rem;
        line-height: 1.6;
        font-weight: 400;

        &.is-large,
        &.is-style-large {
            margin-top: 2rem;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;

            p {
                font-size: 1.3rem;
                line-height: 1.7;
            }
        }

        cite {
            color: rgba(0,0,0,0.5);
            font-size: 1rem;
            font-family: map-get($fonts, 'heading');
            font-weight: 300;
            display: block;
            margin-top: 1rem;
        }
    }

    > .alignwide {
        max-width: 1100px;
    }

    > .alignfull {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    ul,
    ol {
        list-style-position: outside;
    }

    .alignleft, img.alignleft {
        float: left;
        margin-right: 1.5rem;
    }

    .alignright, img.alignright {
        float: right;
        margin-left: 1.5rem;
    }

    .aligncenter, img.aligncenter {
        clear: both;
    }

    .alignnone, img.alignnone {
        clear: both;
    }

    .wp-caption {
        height: auto;
    }

    .wp-caption img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .wp-caption .wp-caption-text  {
        text-align: center;
        font-size: 0.85rem;
        margin-top: 1em;
        color: #999;
        line-height: 1.6;

        @include media-breakpoint-up(md) {
            font-size: 0.95rem;
        }
    }

    .gallery-caption {
        text-align: center;
        font-size: 0.9rem;
        margin-top: 0.7rem;
        color: #999;
        line-height: 1.6;
    }

    
    table {
        display: table;
        font-size: 1rem;
        font-weight: 400;
        table-layout: fixed;
        line-height: 1.3;

        thead {
            tr {
                td {
                    border-color: #efefef;
                    
                }
            }
        }
        
        th {
            border: 1px solid #efefef;
            padding: 1rem;
        }
        td {
            border: 1px solid #efefef;
            padding: 0.6rem 1rem;
        }
    }

    dt {
        font-weight: 700;
    }

    dd {
        padding: 0 0 0.5em 0;
    }

    .gallery {
        margin-left: -0.5em;
        margin-right: -0.5em;
    }

    .gallery:after {
        display: table;
        content: "";
        clear: both;
    }

    .gallery-item {
        margin: 0;
        float: left;
        padding: 0.5em;
    }

    .gallery-item img {
        width: 100%;
    }

    .gallery-columns-1 .gallery-item {
        width: 100%;
        float: none;
    }

    .gallery-columns-2 .gallery-item {
        width: 50%
    }

    .gallery-columns-3 .gallery-item {
        width: 33.3333%
    }

    .gallery-columns-4 .gallery-item {
        width: 25%
    }

    .gallery-columns-5 .gallery-item {
        width: 20%
    }

    .gallery-columns-6 .gallery-item {
        width: 16.6667%
    }

    .gallery-columns-7 .gallery-item {
        width: 14.2857%
    }

    .gallery-columns-8 .gallery-item {
        width: 12.5%
    }

    .gallery-columns-9 .gallery-item {
        width: 11.1111%
    }

    .gallery-columns-2 .gallery-item:nth-child(2n+1),
    .gallery-columns-3 .gallery-item:nth-child(3n+1),
    .gallery-columns-4 .gallery-item:nth-child(4n+1),
    .gallery-columns-5 .gallery-item:nth-child(5n+1),
    .gallery-columns-6 .gallery-item:nth-child(6n+1),
    .gallery-columns-7 .gallery-item:nth-child(7n+1),
    .gallery-columns-8 .gallery-item:nth-child(8n+1),
    .gallery-columns-9 .gallery-item:nth-child(9n+1) {
        clear: left;
    }

    pre code {
        padding: 2rem;
        background: #f1f1f1;
        border-radius: map-get($settings, 'border-radius');
        font-size: 0.9rem;
        line-height: 1.5;
    }
}