// -------------------------
// # Custom Config
// -------------------------

@import 'partials/variables';



// -------------------------
// # Import Bootstrap
// -------------------------

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";



// -------------------------
// # Import Partials
// -------------------------

@import 'partials/helpers';



// -------------------------
// # Gutenberg Block
// -------------------------

@import 'components/content/blocks';



.wp-block {
    max-width: 720px;
}

.wp-block[data-align="wide"] {
    max-width: 1080px;
}

.wp-block[data-align="full"] {
    max-width: none;
}

.editor-styles-wrapper {
    font-family: map-get($fonts, 'body') !important;
    color: map-get($colors, 'text');
    font-size: 1.3rem !important;
    line-height: 1.7 !important;
    font-weight: 300 !important;
    
    p {
        font-size: 1.3rem !important;
        color: map-get($colors, 'text');
        line-height: 1.7 !important;
        font-weight: 300 !important;
    }

    strong {
        font-weight: 400;
    }

    p.has-drop-cap:not(:focus)::first-letter {
        float: left;
        font-size: 4rem;
        line-height: 1;
        font-weight: 100;
        margin: 0.05em 0.1em 0 0;
        text-transform: uppercase;
        font-style: normal;
        font-family: map-get($fonts, 'heading');
        color: map-get($colors, 'black');
    }

    a {
        transition: color 0.15s ease;
        color: map-get($colors, 'default');
        font-size: 1.3rem !important;
        text-decoration: none;
        font-weight: 400 !important;

        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
            transition: color 0.15s ease;
            color: map-get($colors, 'secondary');
        }
    }

    .editor-post-permalink a {
        font-size: 1rem !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: block;
        font-weight: 700;
        line-height: 1.4;
        color: map-get($colors, 'black');
        font-family: map-get($fonts, 'heading');
    }

    h1,
    h2 {
        font-size: 1.3rem;

        @include media-breakpoint-up(md) {
            font-size: 1.6rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.8rem;
        }
    }

    h3 {
        font-size: 1.3rem;

        @include media-breakpoint-up(md) {
            font-size: 1.5rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.8rem;
        }
    }

    h4 {
        font-size: 1.2rem;

        @include media-breakpoint-up(md) {
            font-size: 1.4rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.6rem;
        }
    }

    h5 {
        font-size: 1rem;

        @include media-breakpoint-up(md) {
            font-size: 1.2rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.4rem;
        }
    }

    h6 {
        font-size: 0.8rem;

        @include media-breakpoint-up(md) {
            font-size: 1rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.2rem;
        }
    }

    a[href*="http://"],
    a[href*="https://"],
    a[href*="www"] {
        word-wrap: break-word;
    }
    
    .wp-block-quote {
        padding: 0 2rem;
        color: map-get($colors, 'black');
        font-family: map-get($fonts, 'body');
        border-left: 5px solid map-get($colors, 'black');
        line-height: 1.6;

        p {
            font-size: 1.1rem;
            font-weight: 400;
        }

        &.is-large,
        &.is-style-large {
            margin-top: 2rem;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;

            p {
                font-size: 1.3rem;
                line-height: 1.7;
                font-weight: 400 !important;
            }

            .wp-block-quote__citation {
                text-align: right;
            }
        }

        &__citation {
            color: rgba(0,0,0,0.5);
            font-size: 1rem;
            font-family: map-get($fonts, 'heading');
            font-weight: 300 !important;
        }
    }

    .wp-block-pullquote {
        border-top: 4px solid map-get($colors, 'black');
        border-bottom: 4px solid map-get($colors, 'black');
        color: map-get($colors, 'black');

        p {
            font-weight: 400 !important;
            font-size: 1.5rem !important;
        }

        &__citation {
            color: rgba(0,0,0,0.5);
            font-size: 1rem;
            font-family: map-get($fonts, 'heading');
            font-weight: 300 !important;
        }
    }

    > .alignwide {
        max-width: 1100px;
    }

    > .alignfull {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    ul,
    ol {
        list-style-position: outside;
    }

    .wp-block-video {
        video {
            width: 100%;
        }
    }

    .wp-block-image img {
        display: block;
    }

    .wp-block-image.alignleft,
    .wp-block-image.alignright {
        width: 100%
    }

    .wp-block-image.alignfull img {
        width: 100vw;
    }

    ul.wp-block-latest-posts.alignwide,
    ul.wp-block-latest-posts.alignfull,
    ul.wp-block-latest-posts.is-grid.alignwide,
    ul.wp-block-latest-posts.is-grid.alignwide {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .wp-block-audio {
        audio {
            width: 100%;
        }
    }

    .wp-block-embed.type-video,
    .wp-block-embed-vimeo,
    .wp-block-embed-youtube {
        .wp-block-embed__wrapper {
            position: relative;
            display: block;
            height: 0;
            padding: 0;
            overflow: hidden;
            padding-bottom: 56.25%;
        
            iframe,
            embed,
            object,
            video {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                border: 0;
            }
        }
    }

    .wp-block-embed-wordpress,
    .wp-block-embed-twitter {
        display: flex;
        justify-content: center;
    }

    .wp-block-pullquote > p:first-child {
        margin-top: 0;
    }
    
    .wp-block-separator {
        margin: 3em auto;
        padding: 0;
    }

    .alignleft, img.alignleft {
        float: left;
        margin-right: 1.5rem;
    }

    .alignright, img.alignright {
        float: right;
        margin-left: 1.5rem;
    }

    .aligncenter, img.aligncenter {
        clear: both;
    }

    .alignnone, img.alignnone {
        clear: both;
    }

    .wp-caption {
        height: auto;
    }

    .wp-caption img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .wp-caption .wp-caption-text  {
        text-align: center;
        font-size: 0.85rem;
        margin-top: 1em;
        color: #999;
        line-height: 1.6;

        @include media-breakpoint-up(md) {
            font-size: 0.95rem;
        }
    }

    .gallery-caption {
        text-align: center;
        font-size: 0.9rem;
        margin-top: 0.7rem;
        color: #999;
        line-height: 1.6;
    }

    .wp-block-cover-text {
        padding: 1rem 2rem;
        font-family: map-get($fonts, 'heading');
        font-size: 1.9rem !important;
        line-height: 1.5;
        color: #fff !important; 
    }

    
    table,
    .wp-block-table {
        display: table;
        font-size: 1rem;
        font-weight: 400;
        table-layout: fixed;
        line-height: 1.3;

        thead {
            tr {
                td {
                    border-color: #efefef;
                    
                }
            }
        }
        
        th {
            border: 1px solid #efefef;
            padding: 1rem;
        }
        td {
            border: 1px solid #efefef;
            padding: 0.6rem 1rem;
        }
    }

    dt {
        font-weight: 700;
    }

    dd {
        padding: 0 0 0.5em 0;
    }
}