
.canvi-title {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1.5rem 0 0;
    color: rgba(0,0,0,0.35);
    padding: 14px 25px;
    display: block;
}

// Navigation styling

.canvi-navigation {
    margin: 0;
    padding: 0;
    
    li {
        list-style: none;
        
        &:not(:last-child) {
            border-bottom: 1px solid rgba(0,0,0,0.03);
        }
    }
    
    a {
        display: block;
        padding: 12px 25px;
        display: flex;
        align-items: center;
        opacity: 0.7;
        text-decoration: none;
        color: map-get($colors, 'black');
        font-size: 0.9rem;
        font-weight: 700;
        text-transform: uppercase;

        &.is-active,
        &:hover {
            opacity: 1;
        }
    }
    
    &__icon-wrapper {
        margin-right: 20px;
        width: 30px;
        height: 30px;
        border-radius: 3px;
        background: #aaa;
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__icon {
        font-size: 17px;
        line-height: 1em;
    }
    
    &__text {
        font-weight: 700;
        color: #94a0a8;
        font-size: 14px;
        margin: 0;
        line-height: 1.3em;
        display: block;
        text-transform: uppercase;
    }

    .sub-menu {
        margin: -5px 0 0 0;
        padding: 0;

        li {
            border: none;
        }

        a {
            padding: 6px 25px 6px 40px;
            text-transform: uppercase;
        }
    }
}