.alert {
    display: block;
    padding: 1em 1.5em;
    border-radius: map-get($settings, 'border-radius');

    &.is-generic {
        background: #a2bdc3;
        color: rgba(255,255,255,0.9);
    }
}