.navigation.pagination {
    margin-top: 1rem;

    .page-numbers {
        background: map-get($colors, 'black');
        display: inline-block;
        padding: 0.6rem 1rem;
        border-radius: map-get($settings, 'border-radius');
        margin-right: 0.2rem;
        color: #fff;
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
        transition: 0.15s ease;

        &.current,
        &:hover,
        &:active,
        &:focus {
            background: linear-gradient(45deg, map-get($colors, 'default'), lighten(map-get($colors, 'default'), 20%));
            text-decoration: none;
            transition: 0.15s ease;
        }

        &.dots {
            background: map-get($colors, 'black');
            text-decoration: none;
        }
    }
}