.categories-section {
    background: map-get($colors, 'light-gray');
    padding: 3rem 0;
}

.category-item {
    height: 260px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; 
    padding: 2rem;
    border-radius: 2px;
    position: relative;
    transition: transform 0.1s ease;

    &:hover {
        transform: scale(1.03);
        transition: transform 0.1s ease;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 3;
        background: linear-gradient(45deg, currentColor, rgba(255, 255, 255, 0.7));
        transition: opacity 0.25s ease;
        opacity: 0.65;
    }

    &__background {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 2px;
    }

    &__name {
        position: relative;
        z-index: 5;
        color: #fff;
        font-size: 1.4rem;
    }
}