.bypostauthor {
	display: block;
}

.post-comment {
	margin-top: 3rem;
	padding-top: 3rem;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    word-wrap: break-word;

    &.is-narrow {
        width: 100%;
        max-width: map-get($settings, 'narrow-width');
        flex: 0 0 map-get($settings, 'narrow-width');
        margin-left: auto; 
        margin-right: auto;
        margin-bottom: 0;

        &:not(.alignfull) {
            @include media-breakpoint-up(lg) {
                position: relative;
                left: -6vw;
            }
        }
    }

    &__list {
        margin-bottom: 2rem;
    }
    
    label {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.9rem;
    }
}

.comment-form {
    > p {
        margin-bottom: 1.5rem;
    }
}

.comment-content {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;

    *:last-child {
        margin-bottom: 0;
    }

    a {
        word-wrap: break-word;
    }

    ul {
        list-style-type: disc !important;
        list-style-position: inside !important;
    }

    ol { 
        list-style-type: decimal !important; 
        list-style-position: inside !important;
    }
}

.bypostauthor {
	display: block;
}

.comment-title {
    margin-bottom: 1rem;
}

.comment-title,
.comment-reply-title {
    font-size: 1.4rem;
}

.comment-form-col {
    margin-top: 2rem;

    @include media-breakpoint-up(md) {
        margin-top: 0;
    }
}

.comment-list{
    margin: 0 0 1em;
    padding: 0;
    list-style: none;

    .pingback {
        color: map-get($colors, 'text');
        margin-bottom: 1rem;
    }

    .comment-respond {
        margin-top: 2rem;
    }

    ul {
    	list-style: none;
    	margin: 0;
    	padding: 0;
    }

 	li.comment {

        &:not(:last-child) {   
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            margin-bottom: 2rem;
            padding-bottom: 2rem;
        }
             
        p {
            color: map-get($colors, 'text');
        }
            
        ul {
            margin-left: 2rem;
        }

        .comment-metadata {
            margin-bottom: 0.5rem;
        }
            
        .avatar{
            border-radius: 50%;
            float: right;
        }

        .reply a{
            font-weight: bold;
        }

        .children{
            margin: 2rem 0 0 0;
            padding-left: 2rem;
            border-left: 3px solid rgba(0,0,0,0.05);
        }
    }
}

#cancel-comment-reply-link {
    font-size: 1.2rem;
    margin-left: 10px;
}