.wpcf7-submit,
.btn,
.submit,
input[type="submit"] {
    @include btn;
}

select {
    width: 100%;
    border: 1px solid #efefef;
    padding: 0.7rem 0.5rem;
    border-radius: map-get($settings, 'border-radius');
    background: #fff;
    color: rgba(0,0,0,0.7);
}

.entry-content,
.comment-respond {
    .input-group {
        margin-bottom: 1.5rem;

        &.is-submit {
            display: flex;
            align-items: center;

            > * + * {
                margin-left: 1rem;
            }
        }

        > label {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 0.9rem;
        }
    }

    input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
    select,
    textarea {
        width: 100%;
        border: 1px solid #eee;
        padding: 0.4em 0.8em;
        border-radius: map-get($settings, 'border-radius');
        background: #f6f6f6;
        color: rgba(0,0,0,0.7);
        font-size: 1rem;

        &:focus {
            border-color: map-get($colors, 'default');
            outline: none;
        }
    }
}