#infinite-handle {
    width: 100%;
    margin: 0 15px;

    span {
        @include btn;

        button {
            text-transform: uppercase;
        }
    }
}

.infinite-loader {
    color: #000;
    text-indent: -9999px;
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
    display: flex;
    height: 3rem;
}

.sharedaddy {
    .sd-content {
        margin: 0;

        ul li {
            margin: 0 0.6rem 0.6rem 0;
            padding: 0;
        }
    }
}

#jp-relatedposts {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 0 !important;
    margin-top: 2rem !important;

    .jp-relatedposts-post-img {
        margin-bottom: 0.5rem;
    }
}