.list-item {
    margin-bottom: 1.5rem;

    &:hover {
        .list-item__image {

        }
    }

    &.is-secondary {
        display: flex;
        margin-bottom: 2rem;
        flex-direction: column;

        @media (min-width: 430px) {
            flex-direction: row;
        }

        .list-item__image {
            margin-bottom: 1.5rem;

            @media (min-width: 430px) {
                margin-right: 2rem;
                margin-bottom: 0;
                width: 160px;
            }

            @include media-breakpoint-up(lg) {
                width: 200px;
            }

            @include media-breakpoint-up(xl) {
                width: 220px;
            }
        }

        .list-item__content {
            padding: 0;

            @media (min-width: 430px) {
                width: calc(100% - 2rem - 160px);
            }

            @include media-breakpoint-up(lg) {
                width: calc(100% - 2rem - 200px);
            }

            @include media-breakpoint-up(xl) {
                width: calc(100% - 2rem - 220px);
            }
        }
    }

    &__image {
        border-radius: 2px;
        display: block;
        position: relative;
        z-index: 5;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            background: linear-gradient(0deg, rgba(45,45,45,1), rgba(0, 0, 0, 0));
            opacity: 0;
        }
    }

    &__content {
        position: relative;
        z-index: 10;
        padding: 1.5rem 0;

        &.is-gallery {
            padding: 1rem 0 1.5rem 0;
        }
    }

    &__meta {
        font-size: 0.94rem;
        text-transform: uppercase;
        color: rgba(0,0,0,0.3);
        font-weight: 700;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__title {
        margin: 0.6rem 0 0.8rem;
        font-size: 1.3rem;

        a {
            color: map-get($colors, 'black');
        }
    }

    &__excerpt {
        color: rgba(0,0,0,0.7);
        margin-bottom: 0.8rem;
    }

    &__read-more {
        font-weight: 700;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: map-get($colors, 'black');
        position: relative;
        display: inline-block;

        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: -8px;
            left: 0;
            width: 30px;
            height: 1px;
            background: rgba(0,0,0,0.1);
            transition: width 0.15s ease;
        }

        &:hover,
        &:focus,
        &:active {
            &::before {
                width: 100%;
                transition: width 0.15s ease;
            }
        }
    }

    .category-label {
        margin: 0 0.5rem 0 0;
    }
    
    &__separator {
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: rgba(0,0,0,0.1);
        margin: 0 0.6rem;
    }

    &__author {
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;

        img {
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            margin-right: 0.7rem;
        }

        span {
            color: rgba(0,0,0,0.3);
        }
    }

    .gallery {
        margin-bottom: 0;
    }

    &__quote {
        background: map-get($colors, 'light-gray');
        border: 1px solid #efefef;
        padding: 2rem;
        border-radius: map-get($settings, 'border-radius');
        position: relative;

        &::before {
            content: '“';
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 5rem;
            line-height: 1;
            color: rgba(0,0,0,0.1);
            z-index: 1;
        }

        blockquote {
            margin: 0;
            z-index: 5;
            position: relative;
        }

        p {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;

            &:last-child {
                margin: 0;
            }
        }

        a {
            color: rgba(0,0,0,0.5);
        }

        cite {
            font-style: italic;
            text-transform: uppercase;
            font-size: 0.9rem;
        }
    }

    &__aside {
        background: map-get($colors, 'light-gray');
        border: 1px solid #efefef;
        padding: 2rem;
        border-radius: map-get($settings, 'border-radius');
    }

    &__aside {
        color: rgba(0,0,0,0.7);
        margin-bottom: 0.8rem;

        .list-item__title {
            margin-top: 0;
        }

        .list-item__author {
            margin-bottom: 0;
        }
    }
}