.list-item {
    margin-bottom: 3rem;
    word-wrap: break-word;

    > .list-item__image:first-child,
    > .list-item__video:first-child,
    > .list-item__audio:first-child {
        margin-bottom: 1.3rem;
    }

    > .list-item__image:last-child,
    > .list-item__video:last-child,
    > .list-item__audio:last-child {
        margin-top: 1.3rem;
    }

    > .list-item__image:not(:first-child):not(:last-child),
    > .list-item__video:not(:first-child):not(:last-child),
    > .list-item__audio:not(:first-child):not(:last-child) {
        margin-top: 1.3rem;
        margin-bottom: 1.3rem;
    }

    > .list-item__gallery:first-child {
        margin-bottom: -0.5rem;
    }

    > .list-item__gallery:last-child {
        margin-top: 1.3rem;
        margin-bottom: -0.5rem;
    }

    > .list-item__gallery:not(:first-child):not(:last-child) {
        margin-top: 1.3rem;
        margin-bottom: -0.5rem;
    }

    > * + * {
        margin-top: 0.8rem;
    }

    &:hover {
        .list-item__image {

        }
    }

    &[data-type="aside"] {
        background: map-get($colors, 'light-gray');
        border: 1px solid #efefef;
        padding: 2rem;
        border-radius: map-get($settings, 'border-radius');
        color: rgba(0,0,0,0.7);

        * {
            color: rgba(0,0,0,0.7);
        }
    }

    &.is-secondary {
        display: flex;
        margin-bottom: 2rem;
        flex-direction: column;

        @media (min-width: 430px) {
            flex-direction: row;
        }

        .list-item__image {
            margin-bottom: 0.7rem;

            @media (min-width: 430px) {
                margin-right: 2rem;
                width: 160px;
            }

            @include media-breakpoint-up(lg) {
                width: 200px;
            }

            @include media-breakpoint-up(xl) {
                width: 220px;
            }
        }

        .list-item__content {
            padding: 0;

            > * + * {
                margin-top: 0.6rem;
            }

            @media (min-width: 430px) {
                width: calc(100% - 2rem - 160px);
                margin: 0;
            }

            @include media-breakpoint-up(lg) {
                width: calc(100% - 2rem - 200px);
            }

            @include media-breakpoint-up(xl) {
                width: calc(100% - 2rem - 220px);
            }
        }
    }

    &__image {
        border-radius: map-get($settings, 'border-radius');
        display: block;
        position: relative;
        z-index: 5;
        color: currentColor;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            background: linear-gradient(45deg, currentColor, rgba(255, 255, 255, 0.7));
            opacity: 0;
            transition: 0.15s ease;
        }

        &:hover,
        &:focus,
        &:active {
            color: currentColor;

            &::before {
                opacity: 0.45;
                transition: 0.15s ease;
            }
        }
    }

    &__content {
        position: relative;
        z-index: 10;

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    &__meta {
        font-size: 0.94rem;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        > .posted-on,
        > .category-label span {
            color: rgba(0,0,0,0.3);
        }

        a {
            color: rgba(0,0,0,0.3);

            &:hover,
            &:focus,
            &:active {
                color: currentColor;
            }
        }

        .category-label {
            position: relative;

            &::before {
                content: '';
                position: relative;
                top: -2px;
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: rgba(0,0,0,0.1);
                margin: 0 0.6rem;
            }
        }
    }

    &__title {
        margin-bottom: 0;
        font-size: 1.3rem;

        a {
            color: map-get($colors, 'black');

            &:hover,
            &:focus,
            &:active {
                color: currentColor;
            }
        }
    }

    &__excerpt {
        color: rgba(0,0,0,0.7);
        margin-bottom: 0;
    }

    &__read-more {
        font-weight: 700;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: map-get($colors, 'black');
        position: relative;
        display: inline-block;
        padding-bottom: 8px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 30px;
            height: 1px;
            background: rgba(0,0,0,0.1);
            transition: width 0.15s ease;
        }

        &:hover,
        &:focus,
        &:active {
            color: currentColor;

            &::before {
                width: 100%;
                transition: width 0.15s ease;
            }
        }
    }

    .category-label {
        margin: 0 0.5rem 0 0;
    }
    
    &__author {
        display: flex;
        align-items: center;
        margin-bottom: 0;

        a:hover,
        a:focus,
        a:active {
            span {
                color: rgba(0,0,0,0.8);
                transition: 0.15s ease;
            }
        }

        img {
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            margin-right: 0.7rem;
        }

        span {
            color: rgba(0,0,0,0.3);
            transition: 0.15s ease;
        }
    }

    .gallery {
        margin-bottom: 0;
    }

    &__quote {
        background: map-get($colors, 'light-gray');
        border: 1px solid #efefef;
        padding: 2rem;
        border-radius: map-get($settings, 'border-radius');
        position: relative;

        &::before {
            content: '“';
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 5rem;
            line-height: 1;
            color: rgba(0,0,0,0.1);
            z-index: 1;
        }

        * {
            color: rgba(0,0,0,0.7);
        }

        blockquote {
            margin: 0;
            z-index: 5;
            position: relative;
        }

        p {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;

            &:last-child {
                margin: 0;
            }
        }

        a {
            color: rgba(0,0,0,0.5);
        }

        cite {
            font-style: italic;
            text-transform: uppercase;
            font-size: 0.9rem;
        }
    }
}