.page-header {
    padding: 3rem 0;
    position: relative;
    background-size: cover;
    background-position: center center;

    &.is-white {
        background: #fff;

        .page-header__title {
            color: map-get($colors, 'black');
            text-shadow: none;
        }

        .page-header__description {
            color: rgba(0,0,0,0.5);
            text-shadow: none;
            
            a {
                color: rgba(0,0,0,0.5);

                &:hover,
                &:focus,
                &:active {
                    color: map-get($colors, 'black');
                    text-decoration: underline;
                }
            }
        }
    }

    &.is-colorful {
        background: currentColor;

        .page-header__description.is-single > span:not(:first-child)::before {
            background: rgba(255,255,255,0.2) !important;
        }
    }

    &.is-image {
        
        .page-header__description.is-single > span:not(:first-child)::before {
            background: rgba(255,255,255,0.2) !important;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            z-index: 3;
            background: linear-gradient(45deg, currentColor, rgba(255, 255, 255, 0.5));
            transition: opacity 0.25s ease;
            opacity: 0.65;
        }

        &::after {
            content: "";
            position: absolute;
            top: 20%;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            z-index: 3;
            background: linear-gradient(0, rgba(0,0,0,0.4), rgba(0, 0, 0, 0));
            transition: opacity 0.25s ease;
        }
    }

    &.is-medium {
        padding: 5rem 0;
    }

    &.is-large {
        padding: 14rem 0 4rem;
    }

    &__narrow-inside {
        width: 100%;
        max-width: map-get($settings, 'narrow-width');
        flex: 0 0 map-get($settings, 'narrow-width');
        padding-right: 15px;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        position: relative;
        z-index: 5;
        color: #fff;
        font-size: 1.7rem;
        text-shadow: 0 0 4px rgba(0,0,0,0.1);
        margin: 0;
        word-wrap: break-word;

        @include media-breakpoint-up(lg) {
            font-size: 2.4rem;
        }
        
        @include media-breakpoint-up(xl) {
            font-size: 2.6rem;
        }
    }

    &__description {
        position: relative;
        z-index: 5;
        color: rgba(255,255,255,0.7);
        margin: 0.2rem 0 0 0;
        font-size: 1rem;
        text-shadow: 0 0 4px rgba(0,0,0,0.1);

        a {
            color: rgba(255,255,255,0.7);

            &:hover,
            &:focus,
            &:active {
                color: #fff;
                text-decoration: underline;
            }
        }

        &.is-single {
            > span:not(:first-child) {
                position: relative;

                &::before {
                    content: '';
                    position: relative;
                    top: -2px;
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: rgba(0,0,0,0.1);
                    margin: 0 1rem;

                    @include media-breakpoint-up(lg) {
                        top: -3px;
                    }

                    @include media-breakpoint-up(xl) {
                        top: -4px;
                    }
                }
            }
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.2rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: 1.35rem;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }
}