.site-header {
    background: #fff;
    // box-shadow: 0 0 4px rgba(0,0,0,0.1);
    position: relative;
    z-index: 51;

    &__inside {
        height: 100px; 
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__helper {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: block;
        width: 120px;
    }

    &__navigation {
        font-weight: 700;
        position: relative;
        padding-left: 3rem;
        margin-left: 3rem;

        &::before {
            content: '';
            display: inline-block;
            height: 30px;
            width: 1px;
            background: rgba(0,0,0,0.05);
            position: absolute;
            top: calc(50% - 15px);
            left: 0;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            list-style: none;
            margin-right: 2rem;

            &.current-menu-item {
                a {
                    color: map-get($colors, 'default');
                }
            }
        }

        a {
            color: map-get($colors, 'black');
            text-transform: uppercase;
            font-size: 0.96rem;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
    }

    &__social-item {
        display: inline-block;
        margin: 0 0 0 1.2rem;

        &:hover,
        &:focus,
        &:active {
            svg {
                fill: map-get($colors, 'default');
                transition: fill 0.25s ease;
            }
        }

        svg {
            height: 1rem;
            width: 1rem;
            transition: fill 0.25s ease;
        }
    }

    &__search {
        height: 2.4rem;
        width: 2.4rem;
        border: none;
        border-radius: 2px;
        background: map-get($colors, 'black');
        margin-left: 3rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
            background: linear-gradient(45deg, map-get($colors, 'default'), map-get($colors, 'secondary'));
        }

        svg {
            height: 1.2rem;
            width: 1.2rem;
            fill: #fff;
        }
    }
}