.slider-posts {
    position: relative;
    visibility: hidden;

    &.slick-initialized {
        visibility: visible;
    }
}

.slick-slide {
    > div {
        margin: 0.5rem;

        @include media-breakpoint-up(md) {
            margin: 1rem;
        }
    }
}

.slider-item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: flex !important;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    z-index: 10;
    max-width: 100%;
    height: 400px;
    width: 300px !important;

    @include media-breakpoint-up(md) {
        height: 500px;
        width: 400px !important;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: -1;
        background: linear-gradient(0deg, currentColor, rgba(255, 255, 255, 0.7));
        transition: opacity 0.25s ease;
        opacity: 0.65;
        backface-visibility: hidden;
    }

    &:hover {
        &::before {
            opacity: 0.85;
            transition: opacity 0.25s ease;
        }
    }

    .categories-wrapper {
        position: relative;
        padding-left: 1.8rem;

        &::before {
            content: '';
            position: absolute;
            top: 8px;
            left: 0.7rem;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: rgba(255,255,255,0.5);
        }
    }

    &__categories {
        display: block;
        width: 100%;
        padding: 2rem;
        
        .category-label {
            display: inline-block;
            padding: 0.3rem 0.8rem;
            border-radius: 2px;
            background: #fff;
            color: map-get($colors, 'black');
            margin: 0 0.5rem 0 0;
            font-weight: 700;
            font-size: 0.8rem;
            text-transform: uppercase;
        }
    }

    .category-label {
        margin: 0 0.5rem 0 0;
        display: inline-block;
    }

    &__caption {
        padding: 2rem;
        width: 100%;
        margin-top: auto;
    }

    &__meta {
        color: rgba(255,255,255,0.8);
        font-weight: 700;
        text-transform: uppercase;
    }

    &__title {
        color: #fff;
        margin: 0.8rem 0 1rem;
        font-size: 1.3rem;
  
        @include media-breakpoint-up(md) {
            font-size: 1.6rem;
        }      
    }

    &__author {
        display: flex;
        align-items: center;

        img {
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            margin-right: 0.7rem;
        }

        span {
            color: rgba(255,255,255,0.8);
        }
    }
}