.site-header {
    background: #fff;
    position: relative;
    z-index: 51;

    @include media-breakpoint-up(lg) {
        &[data-sticky="true"] {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
        }

        &.headroom--unpinned {
            transform: translateY(-100%);
            transition: .2s ease-in-out;
        }

        &.headroom--pinned {
            transform: translateY(0);
            transition: .2s ease-in-out;
        }

        &.is-scroll {
            box-shadow: 0 0 7px rgba(0,0,0,0.08);
        }
    }

    &.is-search-open {
        .site-header__helper.is-left,
        .site-header__socials,
        .site-header__search,
        .site-header__navigation {
            opacity: 0.3;
            transition: 0.15s ease;
        }
    }

    &__inside {
        height: 80px; 
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-breakpoint-up(md) {
            height: 100px;
        }

        &.has-no-menu-separator {
            .site-header__navigation::before {
                display: none !important;
            }

            .site-header__helper.is-left .site-header__navigation {
                padding-left: 0;
            }

            .site-header__helper.is-right .site-header__navigation {
                padding-right: 0;
            }
        }
    }

    &__helper {
        display: flex;
        align-items: center;
        
        &.is-left {
            transition: 0.15s ease;

            .site-header__navigation {
                padding-left: 3rem;
                margin-left: 3rem;

                &::before {
                    content: '';
                    display: inline-block;
                    height: 30px;
                    width: 1px;
                    background: rgba(0,0,0,0.05);
                    position: absolute;
                    top: calc(50% - 15px);
                    left: 0;
                }

                li {
                    margin-right: 2rem;
                }
            }
        }

        &.is-right {
            position: relative;

            .site-header__navigation {
                padding-right: 3rem;

                &::before {
                    content: '';
                    display: inline-block;
                    height: 30px;
                    width: 1px;
                    background: rgba(0,0,0,0.05);
                    position: absolute;
                    top: calc(50% - 15px);
                    right: 0;
                }

                li {
                    margin-left: 2rem;
                }
            }
        }
    }

    &__logo {
        display: block;
        font-family: map-get($fonts, 'heading');
        font-size: 1.6rem;
        font-weight: 700;
        color: map-get($colors, 'black');

        img {
            height: 35px;
            width: auto;
            image-rendering: -webkit-optimize-contrast;
            
            @include media-breakpoint-up(md) {
                height: 45px;
            }
        }
    }

    &__navigation {
        font-weight: 700;
        position: relative;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            list-style: none;

            &.prevent-default  {
                cursor: default !important;

                > a {
                    pointer-events: none;
                    cursor: default;
                }
            }

            &.current-menu-item {
                > a {
                    color: map-get($colors, 'default');
                }
            }
        }

        a {
            color: map-get($colors, 'black');
            text-transform: uppercase;
            font-size: 0.96rem;

            &:hover,
            &:focus,
            &:active {
                color: map-get($colors, 'default');
            }
        }

        .menu-item-has-children {
            position: relative;
        }

        ul.menu > .menu-item-has-children {
            padding-right: 15px;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                top: calc(50% - 2px);
                right: 0;
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #ccc;
            }

            &:hover {
                > a {
                    color: map-get($colors, 'default');
                }
                    
                > .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    transition: 0.15s ease;
                }
            }
        }

        ul.menu > .menu-item-has-children .menu-item-has-children {
            &:hover {
                background: map-get($colors, 'default');

                a {
                    color: #fff !important;
                }

                > .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    transition: 0.15s ease;
                }
            }

            a {
                padding: 0.5rem 1rem 0.5rem 0.7rem;
            }

            &::after {
                content: '';
                position: absolute;
                top: calc(50% - 4px);
                right: 0.7rem;
                width: 0; 
                height: 0; 
                border-bottom: 4px solid transparent;
                border-top: 4px solid transparent;
                border-left: 5px solid rgba(255,255,255,0.7);
            }
        }

        ul.menu > li > .sub-menu {
            border-top: 10px solid #fff;
        }

        .sub-menu {
            position: absolute;
            top: 100%;
            left: 0;
            border-radius: map-get($settings, 'border-radius');
            background: map-get($colors, 'black');
            opacity: 0;
            visibility: hidden;
            transition: 0.15s ease;

            .current-menu-item {
                background: map-get($colors, 'default');

                a {
                    color: #fff;
                }
            }

            li {
                display: block;
                min-width: 180px;
                padding: 0 !important;
                margin: 0 !important;
                line-height: 1.1;
            }

            a {
                color: #fff;
                padding: 0.6rem 0.7rem;
                font-size: 0.86rem;
                display: block;

                &:hover,
                &:focus,
                &:active {
                    background: map-get($colors, 'default');
                }
            }

            .sub-menu {
                top: 0;
                left: 100%;
                border-radius: 0 map-get($settings, 'border-radius') map-get($settings, 'border-radius') 0;
            }
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        transition: 0.15s ease;
        margin-left: 3rem;
    }

    &__social-item {
        display: inline-block;
        margin: 0 0 0 1.2rem;

        &:hover,
        &:focus,
        &:active {
            svg {
                fill: map-get($colors, 'default');
                transition: fill 0.15s ease;
            }
        }

        svg {
            height: 1rem;
            width: 1rem;
            transition: fill 0.15s ease;
        }
    }

    &__search {
        height: 2.4rem;
        width: 2.4rem;
        border: none;
        border-radius: 2px;
        background: map-get($colors, 'black');
        margin-left: 3rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.15s ease;

        &:hover,
        &:focus,
        &:active {
            background: map-get($colors, 'default');
        }

        svg {
            height: 1.2rem;
            width: 1.2rem;
            fill: #fff;
        }
    }
    
    &__toggle {
        width: 25px;
        cursor: pointer;
        margin-left: 2rem;
        display: block;
        background: none;
        border: none;

        span {
            background: map-get($colors, 'black');
            height: 3px;
            border-radius: map-get($settings, 'border-radius');
            margin: 5px 0;
            display: block;
            width: 100%;

            &:first-child {
                width: 15px;
            }

            &:last-child {
                width: 20px;
            }
        }
    }
}

.top-search-form {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    z-index: 51;
    height: 50px;
    background: #fff;
    border: 1px solid #efefef;
    border-radius: map-get($settings, 'border-radius');
    width: 300px;
    transform: translateX(25px);
    opacity: 0;
    visibility: hidden;
    transition: 0.15s ease;

    &.is-open {
        transform: translateX(2px);
        opacity: 1;
        visibility: visible;
        transition: 0.15s ease;
    }

    &__input {
        background: transparent;
        border: none;
        padding: 0.5rem 1rem;
        width: 300px;
        height: 50px;
        font-size: 1rem;
        outline: none;
    }

    &__submit {
        position: absolute;
        top: 9px;
        right: 45px;
        background: none;
        border: none;
        cursor: pointer;

        svg {
            width: 20px;
            height: 20px;
            fill: map-get($colors, 'black');
        }
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 1rem;
        width: 20px;
        height: 20px;
        background: rgba(0,0,0,0.2);
        border-radius: 50%;
        border: none;
        cursor: pointer;
        transition: background 0.15s ease;

        &:hover,
        &:focus,
        &:active {
            background: rgba(0,0,0,0.4);
            transition: background 0.15s ease;
        }

        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 9px;
            width: 2px;
            height: 10px;
            background: #fff;
            border-radius: 1px;
            transform: rotate(45deg);
        }

        &::after {
            content: '';
            position: absolute;
            top: 5px;
            left: 9px;
            width: 2px;
            height: 10px;
            background: #fff;
            border-radius: 1px;
            transform: rotate(-45deg);
        }
    }
}