.site-sidebar {
    &.is-left {
        .site-sidebar__inside {
            padding: 0 0 2rem 0;

            @include media-breakpoint-up(lg) {
                padding: 0 2rem 0 0;
                border-right: 1px solid rgba(0, 0, 0, 0.05);
            }
        }
    }

    &.is-right {
        .site-sidebar__inside {
            padding: 2rem 0 0 0;

            @include media-breakpoint-up(lg) {
                padding: 0 0 0 2rem;
                border-left: 1px solid rgba(0, 0, 0, 0.05);
            }
        }
    }

    &__inside {
        position: relative;
        height: 100%;

        > * + * {
            margin-top: 3rem;
        }
    }
}