.site-sidebar {
    &.is-left.is-gray {
        .site-sidebar__inside {
            padding: 3rem 0;

            @include media-breakpoint-up(lg) {
                padding: 3rem 2rem 3rem 0;
            }

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: -100vw;
                right: -100vw;
                background: map-get($colors, 'light-gray');

                @include media-breakpoint-up(lg) {
                    right: 0;
                }
            }
        }
    }

    &.is-right.is-gray {
        .site-sidebar__inside {
            padding: 3rem 0;

            @include media-breakpoint-up(lg) {
                padding: 3rem 0 3rem 2rem;
            }

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: 0;
                right: -100vw;
                left: -100vw;
                background: map-get($colors, 'light-gray');

                @include media-breakpoint-up(lg) {
                    left: 0;
                }
            }
        }
    }

    &.is-left.is-white {
        .site-sidebar__inside {
            padding: 2rem 0 0 0;

            @include media-breakpoint-up(lg) {
                padding: 0 2rem 0 0;
                border-right: 1px solid rgba(0, 0, 0, 0.05);
            }
        }
    }

    &.is-right.is-white {
        .site-sidebar__inside {
            padding: 2rem 0 0 0;

            @include media-breakpoint-up(lg) {
                padding: 0 0 0 2rem;
                border-left: 1px solid rgba(0, 0, 0, 0.05);
            }
        }
    }

    &__inside {
        position: relative;
        height: 100%;

        > * + * {
            margin-top: 3rem;
        }
    }
}