.site-main-wrapper {
    &.has-sidebar--white {
        margin-top: 3rem;
        margin-bottom: 3rem;

        .site-main {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.site-main {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;

    &.is-single {
        margin-right: 15px;
        margin-left: 15px;
        max-width: calc(100% - 30px);
        
        .entry-content > .alignfull {
            margin-left: -15px;
            max-width: calc(100% + 30px);
            width: calc(100% + 30px);
        }
    }
}