.site-footer {
	background: map-get($colors, "black");
	text-align: center;
	color: #fff;
	padding: 3rem 0;

	&__widgets {
		text-align: left;
		color: #fff;
		margin-bottom: 2rem;
	}

	.widget {
		margin-bottom: 2rem;

		&-title {
			color: rgba(255, 255, 255, 0.3);
			margin-bottom: 1.5rem;
		}

		.textwidget {
			background: transparent;
			padding: 0;
			color: rgba(255, 255, 255, 0.8);
		}

		.gallery-caption {
			color: rgba(255, 255, 255, 0.3);
		}

		ul {
			> * + * {
				border-top: 1px solid rgba(255, 255, 255, 0.05);
			}
		}

		ul li {
			color: rgba(255, 255, 255, 0.6);
		}

		a {
			color: #fff;

			&:hover,
			&:focus,
			&:active {
				color: map-get($colors, "default");
			}
		}

		.tagcloud {
			ul > * + * {
				padding-top: 0;
				margin-bottom: 0.7rem;
			}

			a {
				color: #fff;
				background: linear-gradient(45deg, map-get($colors, 'default'), lighten(map-get($colors, 'default'), 10%));

				&:hover,
				&:focus,
				&:active {
					background: #fff;
					color: map-get($colors, "default");
				}
			}
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding-bottom: 2rem;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		margin-bottom: 3rem;

		.social-item {
			margin-bottom: 1rem;
		}
	}

	&__copyright {
		margin: 0;
		color: rgba(255,255,255,0.6);
	}
}
