.site-main-wrapper {
    &.has-sidebar {    
        margin-top: 2.5rem ;

        @include media-breakpoint-up(lg) {
            margin-top: 4rem;
        }

        .site-main {
            margin-top: 0;
        }
    }
}

.site-main {
    width: 100%;
    margin-top: 2.5rem ;

    @include media-breakpoint-up(lg) {
        margin-top: 4rem;
    }

    &.is-single {
        margin-right: 15px;
        margin-left: 15px;
        max-width: calc(100% - 30px);
        
        .entry-content > .alignfull {
            margin-left: -15px;
            max-width: calc(100% + 30px);
            width: calc(100% + 30px);
        }
    }
}