.slider-posts {
    position: relative;
    padding: 1rem 0;
    background: map-get($colors, 'light-gray');
}

.slider-item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: flex !important;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    z-index: 10;
    height: 500px;
    width: 400px !important;
    max-width: 100%;
    margin: 1rem;
    // box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    // box-shadow: 0 0 4px rgba(0,0,0,0.1);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: -1;
        background: linear-gradient(0deg, currentColor, rgba(255, 255, 255, 0.7));
        // background: linear-gradient(0deg, rgba(45,45,45,1), rgba(0, 0, 0, 0));
        transition: opacity 0.25s ease;
        // opacity: 0.65;
        opacity: 0.65;
        backface-visibility: hidden;
    }

    &:hover {
        &::before {
            opacity: 0.85;
            transition: opacity 0.25s ease;
        }
/*
        .slider-item__categories {
            transform: translateY(0);
            opacity: 1;
            transition: 0.25s ease;
        } */
    }

    &__separator {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: rgba(255,255,255,0.5);
        margin: 0 1rem;
    }

    &__categories {
        display: block;
        width: 100%;
        padding: 2rem;
       /* transform: translateY(-1rem);
        opacity: 0;
        backface-visibility: hidden; */
        
        .category-label {
            display: inline-block;
            padding: 0.3rem 0.8rem;
            border-radius: 2px;
            background: #fff;
            color: map-get($colors, 'black');
            margin: 0 0.5rem 0 0;
            font-weight: 700;
            font-size: 0.8rem;
            text-transform: uppercase;
        }
    }

    .category-label {
        margin: 0 0.5rem 0 0;
    }

    &__caption {
        padding: 2rem;
        width: 100%;
        margin-top: auto;
    }

    &__date {
        color: rgba(255,255,255,0.8);
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__title {
        color: #fff;
        margin: 0.8rem 0 1rem;
        font-size: 1.6rem;
    }

    &__author {
        display: flex;
        align-items: center;

        img {
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            margin-right: 0.7rem;
        }

        span {
            color: rgba(255,255,255,0.8);
        }
    }
}