.author-box {
	margin-top: 3rem;
	padding-top: 3rem;
    border-top: 1px solid rgba(0, 0, 0, 0.05);

    &__inside {
        background: #f6f6f6;
        padding: 2rem;
        border-radius: map-get($settings, 'border-radius');
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
        @include media-breakpoint-up(sm) {
            flex-direction: row;
            align-items: flex-start;
            text-align: left;
        }
    }

    &__image-wrapper {
        width: 8rem;
        margin-bottom: 1rem;
                
        @include media-breakpoint-up(sm) {
            margin-bottom: 0;
            margin-right: 2rem;
        }

        img {
            border-radius: map-get($settings, 'border-radius');
            max-width: 100%;
            height: auto;
        }
    }

    &__content {
        width: 100%;

        @include media-breakpoint-up(sm) {
            width: calc(100% - 10rem);
        }
    }

    &__name {
        color: map-get($colors, 'black');

        &:hover,
        &:focus,
        &:active {
            text-decoration: none !important;

            h3 {
                color: map-get($colors, 'default');
                transition: 0.15s ease;
            }
        }

        h3 {
            margin: 0 0 0.5rem;
            font-size: 1.4rem;
            transition: 0.15s ease;
        }
    }

    &__description {
        color: map-get($colors, 'dark-gray');
        font-size: 1.1rem;
        line-height: 1.6em;
        margin: 0;
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        transition: 0.15s ease;
        margin: 0.8rem 0 0 0;

        @include media-breakpoint-up(sm) {
            justify-content: left;
        }
    }

    &__url {
        font-weight: 700;
        display: inline-block;
        padding: 0.5rem 0.8rem;
        border-radius: map-get($settings, 'border-radius');
        color: #fff;
        background: map-get($colors, 'default');
        font-size: 0.8rem;
        margin: 0 1rem 0 0;
        line-height: 1em;
        text-transform: uppercase;
        transition: background 0.15s ease;

        &:hover,
        &:focus,
        &:active {
            color: #fff;
            background: map-get($colors, 'secondary');
            transition: background 0.15s ease;
        }
    }

    &__social-item {
        display: inline-block;
        margin: 0 1rem 0 0;
        position: relative;
        top: -3px;

        &:hover,
        &:focus,
        &:active {
            svg {
                fill: map-get($colors, 'default');
                transition: fill 0.25s ease;
            }
        }

        svg {
            height: 1rem;
            width: 1rem;
            transition: fill 0.25s ease;
        }
    }
}