.entry-content {
    font-size: 1.3rem;
    color: map-get($colors, 'text');
    line-height: 1.7em;
    font-weight: 300;

    &.is-narrow > * {
        width: 100%;
        max-width: map-get($settings, 'narrow-width');
        flex: 0 0 map-get($settings, 'narrow-width');
        margin-left: auto; 
        margin-right: auto;
        margin-bottom: 0;

        &:not(.alignfull) {
            @include media-breakpoint-up(lg) {
                position: relative;
                left: -6vw;
            }
        }
    }

    > * + * {
        margin-top: 2rem;
    }

    a:not(button):not(.author-box__url):not([class*="button"]):not([class*="btn"]) {
        font-weight: 400;

        &:hover,
        &:focus,
        &:active {
            text-decoration-line: underline;
            text-decoration-style: solid;
        }
    }

    h1 + *,
    h2 + *,
    h3 + *,
    h4 + *,
    h5 + *,
    h6 + * {
        margin-top: 1.2rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: block;
        font-weight: 700;
        line-height: 1.4em;
        color: map-get($colors, 'black');
    }

    h1,
    h2 {
        font-size: 1.3rem;

        @include media-breakpoint-up(md) {
            font-size: 1.6rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.8rem;
        }
    }

    h3 {
        font-size: 1.3rem;

        @include media-breakpoint-up(md) {
            font-size: 1.5rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.8rem;
        }
    }

    h4 {
        font-size: 1.2rem;

        @include media-breakpoint-up(md) {
            font-size: 1.4rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.6rem;
        }
    }

    h5 {
        font-size: 1rem;

        @include media-breakpoint-up(md) {
            font-size: 1.2rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.4rem;
        }
    }

    h6 {
        font-size: 0.8rem;

        @include media-breakpoint-up(md) {
            font-size: 1rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.2rem;
        }
    }

    a[href*="http://"],
    a[href*="https://"],
    a[href*="www"] {
        word-wrap: break-word;
    }
    
    .wp-block-quote,
    blockquote {
        padding: 0 2rem;
        color: map-get($colors, 'black');
        font-family: map-get($fonts, 'heading');
        border-left: 5px solid map-get($colors, 'black');
        font-size: 1.1rem;
        line-height: 1.6em;

        &.is-large,
        &.is-style-large {
            margin-top: 2rem;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;

            p {
                font-size: 1.3rem;
                line-height: 1.7em;
            }
        }

        cite {
            color: rgba(0,0,0,0.5);
            font-size: 1rem;
        }
    }

    > .alignwide {
        max-width: 1100px;
    }

    > .alignfull {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    ul,
    ol {
        list-style-position: outside;
    }

    .wp-block-video {
        video {
            width: 100%;
        }
    }

    .wp-block-image img {
        display: block;
    }

    .wp-block-image.alignleft,
    .wp-block-image.alignright {
        width: 100%
    }

    .wp-block-image.alignfull img {
        width: 100vw;
    }

    ul.wp-block-latest-posts.alignwide,
    ul.wp-block-latest-posts.alignfull,
    ul.wp-block-latest-posts.is-grid.alignwide,
    ul.wp-block-latest-posts.is-grid.alignwide {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .wp-block-audio {
        audio {
            width: 100%;
        }
    }

    .wp-block-embed.type-video,
    .wp-block-embed-vimeo,
    .wp-block-embed-youtube {
        .wp-block-embed__wrapper {
            position: relative;
            display: block;
            height: 0;
            padding: 0;
            overflow: hidden;
            padding-bottom: 56.25%;
        
            iframe,
            embed,
            object,
            video {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                border: 0;
            }
        }
    }

    .wp-block-embed-wordpress,
    .wp-block-embed-twitter {
        display: flex;
        justify-content: center;
    }

    .wp-block-pullquote>p:first-child {
        margin-top: 0;
    }
    
    .wp-block-separator {
        margin: 3em auto;
        padding: 0;
    }

    .alignleft, img.alignleft {
        float: left;
        margin-right: 1.5rem;
    }

    .alignright, img.alignright {
        float: right;
        margin-left: 1.5rem;
    }

    .aligncenter, img.aligncenter {
        clear: both;
    }

    .alignnone, img.alignnone {
        clear: both;
    }

    .wp-caption {
        height: auto;
    }

    .wp-caption img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .wp-caption .wp-caption-text  {
        text-align: center;
        font-size: 0.85rem;
        margin-top: 1em;
        color: #999;
        line-height: 1.6em;

        @include media-breakpoint-up(md) {
            font-size: 0.95rem;
        }
    }

    .gallery-caption {
        text-align: center;
        font-size: 0.9rem;
        margin-top: 0.7rem;
        color: #999;
        line-height: 1.6em;
    }

    
    table,
    .wp-block-table {
        display: table;
        font-size: 1rem;
        font-weight: 400;
        table-layout: fixed;

        thead {
            tr {
                td {
                    border-color: #efefef;
                    
                }
            }
        }
        
        th {
            border: 1px solid #efefef;
            padding: 1rem;
        }
        td {
            border: 1px solid #efefef;
            padding: 0.6rem 1rem;
        }
    }

    dt {
        font-weight: 700;
        line-height: 2em;
    }

    dd {
        padding: 0 0 0.5em 0;
        line-height: 2em;
    }

    .gallery {
        margin-left: -0.5em;
        margin-right: -0.5em;
    }

    .gallery:after {
        display: table;
        content: "";
        clear: both;
    }

    .gallery-item {
        margin: 0;
        float: left;
        padding: 0.5em;
    }

    .gallery-item img {
        width: 100%;
    }

    .gallery-columns-1 .gallery-item {
        width: 100%;
        float: none;
    }

    .gallery-columns-2 .gallery-item {
        width: 50%
    }

    .gallery-columns-3 .gallery-item {
        width: 33.3333%
    }

    .gallery-columns-4 .gallery-item {
        width: 25%
    }

    .gallery-columns-5 .gallery-item {
        width: 20%
    }

    .gallery-columns-6 .gallery-item {
        width: 16.6667%
    }

    .gallery-columns-7 .gallery-item {
        width: 14.2857%
    }

    .gallery-columns-8 .gallery-item {
        width: 12.5%
    }

    .gallery-columns-9 .gallery-item {
        width: 11.1111%
    }

    .gallery-columns-2 .gallery-item:nth-child(2n+1),
    .gallery-columns-3 .gallery-item:nth-child(3n+1),
    .gallery-columns-4 .gallery-item:nth-child(4n+1),
    .gallery-columns-5 .gallery-item:nth-child(5n+1),
    .gallery-columns-6 .gallery-item:nth-child(6n+1),
    .gallery-columns-7 .gallery-item:nth-child(7n+1),
    .gallery-columns-8 .gallery-item:nth-child(8n+1),
    .gallery-columns-9 .gallery-item:nth-child(9n+1) {
        clear: left;
    }
}