.gallery {
	margin-bottom: 1.5rem;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	transition: 0.15s ease;

	&:hover {
		opacity: 0.7;
		transition: 0.15s ease;
	}

	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: calc(#{map-get($columns, $i)} - 1rem);
		}
	}
}

.gallery-caption {
	display: block;
	margin-top: 0.3rem;
	color: rgba(0, 0, 0, 0.4);
	font-size: 0.9rem;
	line-height: 1.3em;
}
