.wp-badge.pine-welcome-logo {
	background-color: rgba(76, 185, 201, 1);
	background-image: url(../img/pine-logo.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40%;
}

.release-item:not(:last-of-type) {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.release-item ul {
	list-style: disc;
}

.release-item ul ul {
	margin-left: 20px;
	margin-top: 12px;
}

.release-item li {
	font-size: 14px;
	margin-bottom: 10px;
	list-style-position: inside;
}

.release-item__date {
	text-transform: uppercase;
	color: rgba(0,0,0,0.3);
	margin: 0 0 10px 0;
	font-size: 13px !important;
}

.release-item__data {

}

.release-item__title {
	margin: 0 0 10px 0 !important;
	font-size: 1.1em !important;
}

.customize-control-kirki-custom[id*="line_separator"] {
	pointer-events: none !important;
}